*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(253, 193, 182);
    display: flex;
    flex-direction:column;
   
}


header{
    height: 15vh;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    gap: 20px;
    justify-content:space-between;
    padding: 0 20px;
    align-items:center;
}

header a {
    text-decoration: none;
    color: green;
}

main{
    height:60vh;
    width: 100%;
    display: flex;
}



footer{
    height: 25vh;
    width: 100%;
    background-color: black;
}

main h1{
    color: green;
    font-size:5rem ;
    text-align: center;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: green;
    font-weight:bold;
}
/* header nav ul li a:hover {
    text-decoration: underline;
    color: red
} */

header nav ul li a:visited {
    text-decoration: underline;
    color:purple;
}


header button {
    border: none;
  
     background-color: green;
     height: 30px;
     width: 150px;
     border-radius: 10px;
}

header button a  {
    color: white;
    text-decoration: none;

}

.container{
    width: 100%;
    min-height: 70vh;
    background-color: red;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container div:nth-child() {
   background-color: yellow;
} 
.container div {
  height:20vh ;
  width:30% ;
  background-color:blue;
}

.container2 {
    display: grid;
    height: 50vh;
    width: 100%;
    background-color: tomato;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}

.container2 div{
    background-color: teal;
  
}


@media screen and (max-width: 600px) {
     header{
        width: 100%;
        background-color: yellow;
     }

     header nav {
        display: none;
     }
}

.cont {
    height: 50vh;
    width: 100%;
    background-color: blueviolet;
}












